body {
    background-repeat: no-repeat;
    /*background: linear-gradient( 90deg, #F4AE74  , #d14747 ); /*#2B7D7D*/ 
    background: linear-gradient(90deg, black, white);
    height: auto;
    margin: 0;
    overflow-x: hidden;
}
/* COLORS 

Reds- 
#8D0C0C
#B32727
#D14747
#F47474
#FFA4A4

Oranges- 
#8D460C
#B36627
#D18647
#F4AE74
#FFCDA4

Purple- 
#A83978

Blue-
#2B7D7D
*/

a {
  /*color: #A83978; */
  color: #d14747; 
  text-decoration: none;
}

a:hover {
    text-decoration: overline underline;
}

a:focus {
  outline: none;

}

::selection {
  background: #d14747;
  color: #FFCDA4;
}
/*
::-webkit-scrollbar { 
    display: none; 
    } */
/*
::-webkit-scrollbar-track
{
    background-color: #d14747;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #d14747;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: black;
}
*/

.change-function {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.sans-serif {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.serif {
    font-family: 'Eczar', serif;
}

.footer {
    background-color: #212121;
    width: 100%;
    font-size: 12px;
    height: 20px;
    position: absolute;
    color: grey;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer-text {
    padding-left: 2%;
}

.hover-background {
    background-color: #fffaf7;
    height: auto;
    width: 96%;
    margin-right: 4%;
    position: static;
}

.second {
    margin-right: 0;
    margin-left: 4%;
    margin-top: 10%;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    display: inline-block;
    vertical-align: top;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    
}

li {
    font-size: 2.2vh;
    display: inline;
}

.menu-icon {
    z-index: 1000;
    display: inline-block;
    cursor: pointer;
    
}

.menu-wrapper {
    position: -webkit-sticky;  
    position: sticky;
    top: 6px; 
    padding-left: 6px;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #D14747;
    margin: 6px 0;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.short {
    width: 19px !important;
}

.arrow-left {
    padding-top: 26px !important;
}
.arrow-right {
    padding-top: 26px !important;
}

.arrow-left .bar1{
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.arrow-left .bar2 {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow-right .bar1{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow-right .bar2 {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.enlarged-image-nav {
  overflow: hidden;
  bottom: 0;
  position: fixed;
  display: none;
  width: 200px;
  left: calc(50% - 100px);
}

.image-nav-inner {
  overflow: hidden;
  width: auto;
}

.icon {
  float: left;
  padding: 20px;
  cursor: pointer;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    -o-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.special {
    /*background:#676470;
    display:inline-block; */
}

.current-page {
    text-decoration: overline underline;
    text-decoration-color: #D14747;
}

.black {
 /* background-color: #190101; */
 background-color: black;
 color: #d6cfcf;
}

.portfolio-title {
    font-size: 15vw;
    position: absolute;
    z-index: -3;
    margin-top: -3%;
    opacity: 0.15;
    color: grey;
    padding-left: 2%;

}


#header {
    background-color: rgba(0, 0, 0, 0);
}

h1 {
    font-size: 4vw;
    padding-left: 5px;
}
/*
h2 {
    font-size: 1.5vw;
}
*/
p {
    padding-top: .5%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1vw;
}

.around img:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.centered {
    max-width: 50%;
    padding-top: 2%;
    text-align: justify;
    margin: auto;
}

.title-justify {
    text-justify: inter-word;
    text-align: center;
    vertical-align: middle;
}

#homepage {

    padding-top: 10%;
    text-align: center;
}

iframe {
  max-width: 100%;
}

.outline {
    color: black;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px black;
    font-size: 4.5vmin;
    font-weight: 700;
}

.container {
  margin: 0 0 auto;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  padding: 0;
  max-width: 100%;
}

.navigation {
    position: fixed;
    top: 15%;
    padding-left: 4%;
    display: none;
}

.sub-navigation {
    padding-left: 12%;
}

.arrow {
    width: 6px;
    height:  6px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    color: red;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2000;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  margin-left: 3%;
}

img {
   -webkit-filter: grayscale(100%); 
   filter: grayscale(100%);
   width: 93%; 
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1366px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

   h1 {
    font-size: 2.5vmax;
}

h2 {
    font-size: 3.5vmin;
}
p {
    font-size: 0.75vmax;
}
}

/* Smartphones and Tablets ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1366px) {

    .centered {
        max-width: 75%;
    }

    .second {
        margin-left: 0;
        width: 100%;
    }

    .menu-icon {
        margin-left: 0;
    }

    h1 {
        font-size: 6.5vmin;
    }

    h2 {
        font-size: 3.5vmin;
    }

    p {
        padding-top: 1.5%;
        font-size: 2vmin;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {

    img {
        width: 100%; /* you can use % */
    }

    .column {
      flex: 100%;
      max-width: 100%;
  }

  .outline {

    font-size: 9vmin;
}

.centered {
    max-width: 85%;
}

h2 {
    font-size: 5.5vmin;
}

p {
    font-size: 4vmin;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #D14747;
    margin: 6px 0;
    transition: 0.4s;
}

.around {
    padding: 20px;
}

.around-text {
    padding: 20px;
}

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {

    #homepage {
        padding-top: 20%;
    }
    h1 {
        font-size: 8vw;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width : 667px) and  (orientation : landscape) {


    #homepage {
        padding-top: 3%;
    }
    p {
        padding-top: .5%;
    }
}
@media only screen and (max-device-width : 768px) and (min-device-width : 480px) {

}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {

    .column {
      flex: 48%;
      max-width: 50%;
  }

  h1 {
    font-size: 5vw;
}
    /*
    h2 {
        font-size: 2.5vw;
    }

    p {
        font-size: 1.4vw;
    }
    */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : landscape) {


    #homepage {
        padding-top: 5%;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {


    #homepage {
        padding-top: 20%;
    }
}