body {
    background-repeat: no-repeat;
    background: linear-gradient( 90deg, #F4AE74  , #d14747 ); /*#2B7D7D*/
    margin: 0;
}
/* COLORS 

Reds- 
#8D0C0C
#B32727
#D14747
#F47474
#FFA4A4

Oranges- 
#8D460C
#B36627
#D18647
#F4AE74
#FFCDA4

Purple- 
#A83978

Blue-
#2B7D7D
*/

a {
  color: #A83978;
  text-decoration: none;
}

a:focus {
  outline: none;

}

::selection {
  background: #d14747;
  color: #FFCDA4;
}
/*
::-webkit-scrollbar { 
    display: none; 
} */

::-webkit-scrollbar-track
{
    background-color: #A83978;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #A83978;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: black;
}


.sans-serif {
    font-family: 'Work Sans', sans-serif;
}

.serif {
    font-family: 'Eczar', serif;
}

.footer {
    background-color: black;
    font-size: 12px;
    bottom: 0;
    position: relative;
    margin: 0;
    padding: 0;
    color: grey;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
}

.hover-background {
    background-color: #fffaf7;
    height: auto;
    width: 94%;
    margin-right: 4%;
    position: static;
}

.second {
    margin-right: 0;
    margin-left: 6%;
    margin-top: 7%;
}

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: auto;
}

li {
    font-size: 2.2vh;
    display: inline;
}

.vert {
    position: fixed;
    top: 20%;
    bottom: 0;
    margin: auto;
    left: 1%;
    transform-origin: 0 50%;
    transform: rotate(-90deg) translate(-50%, 50%);
}

.special {

    /*background:#676470;
    display:inline-block; */
}

.black {
    background-color: #190101;
    color: #d6cfcf;
}

.portfolio-title {
    padding-left: 2%;
}

h1 {
    font-size: 4vw;
    padding-left: 5px;
}

h2 {
    font-size: 1.5vw;
}

p {
    padding-top: .5%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1vw;
}

.centered {
    max-width: 50%;
    padding-top: 2%;
    padding-left: 19%; /* 25% - 6% gutter to center*/
}

#homepage {

    padding-top: 10%;
    text-align: center;
}

/* Smartphones and Tablets ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1366px) {
    /* Styles */

    h1 {
        font-size: 6.5vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    p {
        padding-top: 1.5%;
        font-size: 2vw;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {

    #homepage {
        padding-top: 20%;
    }
    h1 {
        font-size: 8vw;
    }
    p {
        padding-top: 1.5%;
        font-size: 2.8vw;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width : 667px) and  (orientation : landscape) {

    #homepage {
        padding-top: 3%;
    }
    p {
        padding-top: .5%;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : landscape) {

    #homepage {
        padding-top: 5%;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    #homepage {
        padding-top: 20%;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1366px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}