---
layout: default
title: Christian Broms - Finished Projects
---
<script src="/static/js/project-panel-main.js"></script>
<div class="dots">
    {% for project in site.projects %}
        <a class="project-panel-link" href="#{{ project.filename }}">
        </a>
    {% unless forloop.last %}{% endunless %}
    {% endfor %}
    
</div>
<script>
    var posts = [
        {% for project in site.projects %}
            {
                "title": "{{ project.title }}",
                "time": "{{ project.time }}",
                "url": "{{ project.url }}",
                "img": "{{ project.image }}"
            }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    console.log(posts);
</script>
<div class="head hf">
    <div class="centered-head">
       <h1 class="head-title">Projects</h1>
       <h2>I work on a range of different kinds of projects. <br> I've grouped a selection into several categories below.</h2>
    </div>
</div>
{% for project in site.projects %}
    <a class="project-link" href="{{ project.url }}">
        <div class="project-tile section-class-name" 
             data-section-name="{{ project.filename }}" 
             id="loc-{{ project.filename }}">
            <img class="main-image" src="{{ project.image }}">
             <div class="title">
                 <h1>{{ project.title }}</h1>
                 <h2>{{ project.time }}</h2>
             </div>
        </div>
    </a>
{% endfor %}
<div class="foot section-class-name" data-section-name="footer">
    <div class="foot-content"> Copyright &copy; 2019 Christian Broms &mdash; <a href="../about">Contact</a></div>
</div>