body {
    background-color: #202020;
    color: #DFDFDF;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*a {
    color: #DFDFDF;
}

a:hover {
    color: #DFDFDF;
}*/

::selection {
  background: #F0CF00; 
  color: #2B2B2B;
}
::-moz-selection {
  background: #F0CF00; 
  color: #2B2B2B;
}

.project-tile {
    color: #DFDFDF !important;
    opacity: 0;
    width: 70vw;
    height: 70vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vh;
    background-color: #2B2B2B;
    -webkit-box-shadow: -1px 33px 83px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 33px 83px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 33px 83px -10px rgba(0,0,0,0.75);
}

.project-tile:hover {
    color: #DFDFDF !important;
}

.foot {
    font-size: 12px;
    padding: 20px;
   /* height: 5vh;*/
    margin-top: 30vh;
}
.head {
    height: 30vh;
    margin-bottom: 15vh;
}

.main-image {
    height: 70vh;
    width: 70vw;
    object-fit: cover;
    object-position: 50% 0;
    float: left;
    position: relative;
}

.project-panel-link {
  height: 15px;
  width: 15px;
  background-color: #191919;
  border-radius: 50%;
  display: inline-block;
}

.dots {
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    width: 25px;
}

h1 {
    font-size: 1.75rem;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 400;
    font-style: italic;
    
}

h2 {
    font-size: 1.5rem;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    max-width: 68vw;
    position: absolute;
    margin-top: 15vh;
    left: 17vw;
    padding: 20px;
    background-color: #2B2B2B;
}

.centered-head {
    opacity: 0;
    position: absolute;
    top: 0vh;
    left: 15vw;
}

.head-title {
    font-size: 4rem;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
}

@media (min-width: 768px) { 
    .main-image {
        width: 50vw;
    }
    h1 {
        font-size: 2.5rem;
    }
    .title {
        max-width: 365px;
        left: 25vw;
    }
}


@media (min-width: 992px) { 
    .main-image {
        width: 30vw;
    }
    h1 {
        font-size: 2.5rem;
    }
    .title {
        max-width: 365px;
        left: 48vw;
    }
}

.foot-content {
    padding-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top {
    width: 100vw;
    height: -1vh;
    background-color: #DFDFDF;
}

.title-front {
    opacity: 0;
    text-align: center;
    mix-blend-mode: difference;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.title-dir {
    opacity: 0;
    text-align: center;
    mix-blend-mode: difference;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#progress {
    top: 15%;
}

#finished {
    bottom: 15%;
}

::-webkit-scrollbar {
 display: none;
}