.footer {
    font-size: 80%;
    width: 100vw;
    background-color: $accent;
    padding: 15px;
    text-align: center;
    color: $body;
}

.footer-text {
    margin: 5px 15px;
    color: $body !important;
    display: inline-block;
}

.footer-link {
    color: $body !important;
}
