.project-link-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: top;
    cursor: pointer;
    // transition: all var(--duration) ease;
    border-radius: var(--radius);
}

.project-image-link-container {
    height: 300px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    object-fit: contain;
    object-position: 0 0;
    margin: 0 auto;
    background-color: var(--accent-light);
    transition: background-color var(--duration) ease;
}

.project-link-pointer {
    opacity: 0;
    color: var(--sec-type);
    padding-top: 25px;
    transition: opacity var(--duration) ease;
}

.project-link {
    display: inline-block;
    margin: 0 15px 0 0;
    min-width: 100%;
}

.project-image-link-container img {
    mix-blend-mode: multiply;
}

.project-link-container:hover {
    .project-image-link-container {
        background-color: transparent;
    }

    .project-link-pointer {
        opacity: 1;
    }
}

.project-link-flex {
    width: 400px;
    margin: 0 auto;
    border-top: 1px solid var(--accent);
    padding-top: 20px;
}

.second {
    width: 350px;
    padding-left: 50px;
}

.archived-projects {
    padding-top: 20;
    margin: 0 auto;
    display: block;
    max-width: 800px;
}

@media only screen and (max-width: 888px) {
    .project-link-pointer {
        opacity: 1;
        padding-top: 0;
    }

    .archived-projects {
        padding-left: 20px;
    }

    .project-link-flex {
        padding: 0 20px 20px 20px;
        border-left: 1px solid var(--accent);
        border-top: none;
    }
    .project-image-link-container {
        height: 150px;
    }

    .first {
        order: 2;
        padding-left: 20px;
    }
    .second {
        order: 1;
        padding-left: 20px;
    }
}

.link-title {
    font-weight: 400;
    margin-top: 0;
}

.link-subtitle {
    color: var(--sec-type);
    font-style: italic;
}
