.nav-logo {
    display: inline-block;
    font-style: italic;
    float: left;
    font-size: 120%;
    padding-left: 40px;
    padding-right: 0 !important;
    transition: all $duration ease;
}

.nav-logo:hover {
    text-shadow: 1px 1px $accent-light, 2px 2px $accent-light;
}

.nav-links {
    display: inline-block;
    float: right;
    padding-top: 3px; // to make up for diff in font size between links and logo
}

.nav-link {
    color: $sec-type;
    text-decoration: none;
    padding-right: 40px;
}

.nav-link:hover {
    color: $main-type;
}

.nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $body;
    padding: 30px 0;
}
