.nav-logo {
    display: inline-block;
    font-style: italic;
    float: left;
    font-size: 120%;
    padding-left: 20px;
    padding-right: 0 !important;
    transition: all var(--duration) ease;
}
.nav-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
.nav-logo:hover {
    text-shadow: 1px 1px var(--accent-light), 2px 2px var(--accent-light);
}

.nav-links {
    display: inline-block;
    float: right;
    padding-top: 3px; // to make up for diff in font size between links and logo
}

.nav-link {
    color: var(--sec-type);
    text-decoration: none;
    padding-right: 40px;
}

.nav-link:hover {
    color: var(--main-type);
}

.nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transition: background-color 1.5s ease-in;
    background-color: var(--body);
    padding: 15px 0;
}
