.project-container {
    // width: 100vw;
    background-color: var(--body);
    transition: background-color var(--duration) ease-in;
    margin: $nav-height + 20px auto;
}

.project-post-content {
    margin: 0 auto;
    text-align: left;
    max-width: 1200px;
}

.project-post-section {
    color: var(--sec-type);
    transition: background-color var(--duration) ease-in;
    padding: 20px;
    background-color: var(--body);
    // border-radius: var(--radius);
    // box-shadow: var(--shadow);
    margin: 10px auto;
    //  width: 85%;
    min-width: 335px;

    h1 {
        display: none;
    }

    h2 {
        font-size: 2.5rem;
        margin-top: 50px;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.75rem;
    }
}

.post-length {
    margin-top: 10px;
    font-style: italic;
    color: var(--ter-type);
    font-size: 1rem;
}
.project-head {
    min-height: 100px;
}

.page-head {
    max-width: 650px;
    margin: 0 auto;
}

h1.page-head {
    font-size: 4rem;
    font-weight: 800;
}

p.page-head {
    padding: 20px;
    color: var(--sec-type);
    font-size: 1.4rem;
    font-style: italic;
}

blockquote {
    padding-left: 40px;
    font-style: italic;
}

.project-image-container {
    border: var(--border);
    max-width: 650px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    object-fit: cover;
    margin: 10px auto;
}

.project-details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 650px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
}

.project-details-content {
    max-width: 170px;
    min-width: 90px;
    min-height: 50px;
    margin: 10px 0;
    display: inline-block;
    margin-bottom: 20px;
}

.details-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 80%;
    float: left;
    color: var(--ter-type);
}

.details-text {
    text-align: left;
    min-width: 100%;
    display: inline-block;
    float: left;
}

.project-list-head {
    width: $head-width;
    transition: background-color var(--duration) ease-in;
    background-color: var(--body);
    margin: 30px auto;
    padding: 0;
    margin-top: $nav-height + 30px;
    text-align: center;
    max-width: 800px;
}

.project-head-tags {
    margin: 0 auto;
    padding: 0;
    width: $head-width;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
}

.project-list-head.outer {
    margin-bottom: 70px;
    padding: 0 10px;
}

.project-list {
    // text-align: center;
    margin-bottom: 80px;
}

.next-project {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 30px;
    max-width: 800px;
    padding-left: 10px;
}

h1.project-list-head {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: left;
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
    max-width: 650px;
    margin: 20px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-type);
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.gatsby-resp-image-figcaption {
    text-align: center;
    font-style: italic;
    color: var(--ter-type);
    padding: 20px 0;
    margin: 0 auto;
    max-width: 650px;
}

.gatsby-resp-image-background-image {
    border-radius: var(--radius);
}

.gatsby-resp-image-figure {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
}

.gatsby-resp-image-wrapper {
    border: var(--border);
}

@media only screen and (max-width: 1440px) {
    .gatsby-resp-image-figure {
        max-width: 750px;
    }

    img {
        max-width: 750px;
    }
}

.gatsby-resp-image-link {
    box-shadow: var(--shadow);
    border-radius: var(--radius);
}

img[src*=".gif"] {
    margin: 50px auto;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    border: var(--border);
}

// .gatsby-resp-image-wrapper {
//     width: 800px;
// }
