.project-container {
    // width: 100vw;
    background-color: $body;
    margin: $nav-height + 20px auto;
    text-align: center;
}

.project-post-content {
    margin: 0 auto;
    text-align: left;
    max-width: 1000px;
}

.project-post-section {
    color: $sec-type;
    padding: 20px;
    background-color: $content;
    border-radius: $radius;
    box-shadow: $shadow;
    margin: 10px auto;
    width: 85%;
    min-width: 335px;
    margin-bottom: 80px;
}

.project-head {
    min-height: 100px;
}

h1.page-head {
    font-size: 3.5rem;
    font-weight: 600;
}

p.page-head {
    color: $sec-type;
    font-size: 1.4rem;
    font-style: italic;
    padding: 0 20px 20px 20px;
}

.project-image-container {
    max-width: 600px;
    border-radius: $radius;
    box-shadow: $shadow;
    object-fit: cover;
    margin: 10px auto;
}

.project-link {
    display: inline-block;
    margin: 0 15px 0 0;
    width: 100px;
}

.project-details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
}

.project-details-content {
    max-width: 170px;
    margin: 10px 0;
    display: inline-block;
    margin-bottom: 20px;
}

.details-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 80%;
    float: left;
    color: $ter-type;
}

.details-text {
    text-align: left;
    display: inline-block;
    float: left;
}

$head-width: 94%;

.project-list-head {
    width: $head-width;
    background-color: $body;
    margin: 30px auto;
    margin-top: $nav-height + 30px;
    text-align: center;
    max-width: 800px;
}

.project-head-tags {
    margin: 0 auto;
    width: $head-width;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.project-list-head.outer {
    margin-bottom: 70px;
}

.project-list {
    text-align: center;
    margin-bottom: 80px;
}

h1.project-list-head {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    max-width: 650px;
    margin: 20px auto;
}

.gatsby-resp-image-figcaption {
    text-align: center;
    font-style: italic;
    font-size: 90%;
    color: $ter-type;
    padding: 10px 0;
    margin: 0 auto;
    max-width: 650px;
}

.gatsby-resp-image-background-image {
    border-radius: $radius;
}
