.project-container {
    width: 100vw;
    background-color: $body;
    margin: $nav-height + 20px auto;
    text-align: center;
}

.project-post-content {
    margin: 0 auto;
    text-align: left;
    max-width: 1000px;
}

.project-post-section {
    padding: 20px;
    background-color: $content;
    border-radius: $radius;
    box-shadow: $shadow;
    margin: 40px auto;
    width: 85%;
}

.project-head {
    min-height: 100px;
}

h1.page-head {
    font-size: 3.5rem;
    font-weight: 600;
}

p.page-head {
    font-size: 1.4rem;
    font-style: italic;
    padding: 0 20px 20px 20px;
}

.project-image-container {
    max-width: 600px;
    border-radius: $radius;
    box-shadow: $shadow;
    object-fit: cover;
    margin: 30px auto;
}

.project-link {
    margin: 0 15px;
}
