.tags {
    text-transform: uppercase;
    font-size: 80%;
    margin: 5px 10px 5px 0px;
    // padding: 6px;
    color: var(--ter-type);
    // border: 1px solid var(--accent-light;
    border-radius: var(--radius);
    display: inline-block;
}

.tag-button {
    transition: background-color var(--duration) ease;
    text-transform: uppercase;
    margin: 5px 10px 5px 0px;
    padding: 8px;
    font-size: 80%;
    border-radius: var(--radius);
    display: inline-block;
    cursor: pointer;
    border: 1px solid var(--accent);
    color: var(--sec-type);
}
.tag-button:hover,
.tag-button.enabled {
    background-color: var(--accent-light);
    color: var(--main-type);
}

.tag-text {
    display: inline-block;
}
