.tags {
    text-transform: uppercase;
    font-size: 80%;
    margin: 5px 10px;
    padding: 6px;
    color: $ter-type;
    // border: 1px solid $accent-light;
    border-radius: $radius;
    display: inline-block;
}

.tag-button {
    transition: all $duration ease;
    text-transform: uppercase;
    margin: 5px 10px;
    padding: 8px;
    font-size: 80%;
    border-radius: $radius;
    display: inline-block;
    cursor: pointer;
    border: 1px solid $accent;
    color: $sec-type;
}
.tag-button:hover,
.tag-button.enabled {
    background-color: $accent-light;
    color: $main-type;
}

.tag-text {
    display: inline-block;
}

