@import url("https://use.typekit.net/yqh0xcp.css");

:root {
    // for light mode
    --body: hsl(0, 0%, 93%);
    --content: hsl(0, 0%, 96%);
    --main-type: hsl(217, 15%, 17%);
    --sec-type: hsl(217, 15%, 35%);
    --ter-type: hsl(217, 15%, 60%);
    --qad-type: hsl(217, 15%, 80%);
    --accent: hsl(217, 83%, 38%);
    --accent-light: hsl(217, 83%, 80%);
    --shadow: 0 10px 36px var(--qad-type);

    // assorted vars
    --font: "ibm-plex-sans";
    --duration: 0.6s;
    --radius: 10px;
}

$nav-height: 100px;
$break-small: 380px;
$head-width: 94%;

// for dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --body: hsl(0, 0%, 8%);
        --content: hsl(0, 0%, 13%);
        --main-type: hsl(217, 15%, 90%);
        --sec-type: hsl(217, 15%, 70%);
        --ter-type: hsl(217, 15%, 50%);
        --qad-type: hsl(217, 15%, 80%);
        --accent: hsl(217, 83%, 70%);
        --accent-light: hsl(217, 83%, 50%);
        --shadow: 0 10px 36px hsl(0, 0%, 0%);
    }

    img:not([src*=".svg"]) {
        filter: grayscale(10%);
    }
}
