body {
  background-color: #282726;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #e5e1e0;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
section,
header,
footer {
  max-width: 640px;
}

a {
  color: #e5e1e0;
}

a:visited {
  color: rgb(170, 170, 170);
}

hr {
  max-width: 640px;
  margin: 0;
  outline: none;
  border: 1px solid rgb(170, 170, 170);
}
