body {
  --dark: #282726;
  --light: #ebebeb;
}

body {
  background-color: var(--light);
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: var(--dark);
}

img {
  box-sizing: border-box;
  max-width: 640px;
  width: 100%;
  border: 2px solid var(--dark);
  margin: 1rem 0;
}

blockquote {
  font-style: italic;
}

li {
  padding: 5px 0;
  padding-left: 5px;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
section,
footer {
  max-width: 640px;
}

a {
  color: var(--dark);
}

a:visited {
  color: #636363;
}

::selection {
  background-color: var(--dark);
  color: var(--light);
}

code {
  background-color: #e0e0e0;
  padding: 0 5px;
}
