body {
  background-color: black;
  font-family: "futura-pt";
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;

}

input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: "futura-pt";
    font-weight: bold;
}

#identifier {
  top: 100%;
}

.data-element {

  font-family: "futura-pt";
  color: white;
  margin-top: 90%;
  position: absolute;
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.text-entry {
  position: absolute;
  left: 50%;
  top: 58%;
  height: 50px;
  max-width: 240px;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-style: italic;
  font-size: 25px;
  text-align: center;
}

.button {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: futura-pt;
  text-transform: uppercase;
  -webkit-appearance: none;
  border-radius: 0;
}

.entry-prompt {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

/* mobile devices */
@media only screen and (max-device-width: 750px) {

  .entry-prompt {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 55px; 
  text-align: center;
}

.text-entry {
  position: absolute;
  left: 50%;
  top: 56%;
  height: 100px;
  max-width: 500px;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

.button {
  position: absolute;
  left: 50%;
  top: 69%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 55px;
  font-family: futura-pt;
  text-transform: uppercase;
}

.larger {
  top: 30%;
}
}